#skPlayer{
    width:380px;
    height:100px;
    font-family:Helvetica,Tahoma,Arial,'Microsoft YaHei',sans-serif;
    position:relative;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    cursor:default;
}
#skPlayer.skPlayer-red{
    background:#fff;
    box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
#skPlayer .skPlayer-picture{
    width:100px;
    height:100px;
    float:left;
    position:relative;
    border-radius:7px 0 0 5px;
    z-index:3;
}
#skPlayer.skPlayer-red .skPlayer-picture{
}
#skPlayer .skPlayer-cover{
    width:100%;
    transition:.37s;
}
#skPlayer .skPlayer-cover.skPlayer-pause{
    filter: blur(3px);
    -webkit-filter: blur(3px);
}
#skPlayer .skPlayer-play-btn{
    display:block;
    width:60px;
    height:60px;
    background-color:#a26b61;
    border-radius:50%;
    position:absolute;
    overflow:hidden;
    top:50%;
    left:0;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    z-index:2;
    transition:.7s;
    will-change:top,left,transform;
}
#skPlayer.skPlayer-red .skPlayer-play-btn{
    background-color:#D94240;
}
#skPlayer .skPlayer-play-btn.skPlayer-pause{
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
}
#skPlayer .skPlayer-play-btn span{
    display:block;
}
#skPlayer .skPlayer-play-btn .skPlayer-left{
    width:0px;
    height:0px;
    border-left:24px solid #f0e9dc;
    border-top:14px solid transparent;
    border-bottom:14px solid transparent;
    transition:.37s;
    position:absolute;
    left:21px;
    top:16px;
    will-change:border;
}
#skPlayer.skPlayer-red .skPlayer-play-btn .skPlayer-left{
    border-left:24px solid #fff;
}
#skPlayer .skPlayer-pause .skPlayer-left{
    border:14px solid #f0e9dc;
    border-left:2px solid #f0e9dc;
    border-right:2px solid #f0e9dc;
}
#skPlayer.skPlayer-red .skPlayer-pause .skPlayer-left{
    border:14px solid #fff;
    border-left:2px solid #fff;
    border-right:2px solid #fff;
}
#skPlayer .skPlayer-play-btn .skPlayer-right{
    width:0px;
    height:0px;
    border:14px solid #f0e9dc;
    border-left:2px solid #f0e9dc;
    border-right:2px solid #f0e9dc;
    transition:.37s;
    position:absolute;
    right:21px;
    top:-76px;
    will-change:top,right;
}
#skPlayer.skPlayer-red .skPlayer-play-btn .skPlayer-right{
    border:14px solid #fff;
    border-left:2px solid #fff;
    border-right:2px solid #fff;
}
#skPlayer .skPlayer-pause .skPlayer-right{
    right:21px;
    top:16px;
}
#skPlayer .skPlayer-control{
    width:250px;
    height:75px;
    padding:10px 15px 15px;
    background-color:#f0e9dc;
    float:right;
    border-radius:0 7px 7px 0;
    position:relative;
    z-index:2;
}
#skPlayer.skPlayer-red .skPlayer-control{
    background-color:transparent;
}
#skPlayer .skPlayer-control p{
    margin:0;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    line-height:1.2;
}
#skPlayer .skPlayer-control .skPlayer-name{
    font-size:18px;
    font-weight:700;
    color:#6f5f5c;
}
#skPlayer.skPlayer-red .skPlayer-control .skPlayer-name{
    color:#6A6B6F;
}
#skPlayer .skPlayer-control .skPlayer-author{
    font-size:15px;
    color:#968983;
}
#skPlayer.skPlayer-red .skPlayer-control .skPlayer-author{
    color:#666;
}
#skPlayer .skPlayer-control>.skPlayer-percent{
    width:250px;
    height:6px;
    background-color:#cfbfa2;
    border-radius:2px;
    margin:9px 0 9px;
    cursor:pointer;
    overflow:hidden;
}
#skPlayer.skPlayer-red .skPlayer-control>.skPlayer-percent{
    background-color:rgba(231, 231, 239, .8);
}
#skPlayer .skPlayer-control>.skPlayer-percent .skPlayer-line{
    height:100%;
    width:0;
    background-color:#f0b270;
}
#skPlayer.skPlayer-red .skPlayer-control>.skPlayer-percent .skPlayer-line{
    background-color:#D94240;
}
#skPlayer .skPlayer-control .skPlayer-time{
    font-size:15px;
    color:#796a67;
    float:left;
}
#skPlayer.skPlayer-red .skPlayer-control .skPlayer-time{
    color:#666;
}
#skPlayer .skPlayer-control .skPlayer-volume{
    width:120px;
    height:14px;
    float:right;
    position:relative;
    margin-top:1px;
}
#skPlayer .skPlayer-control .skPlayer-volume.skPlayer-hasList{
    margin-right:24px;
}
#skPlayer .skPlayer-control .skPlayer-volume .skPlayer-icon{
    width:5px;
    height:6px;
    display:block;
    position:absolute;
    background-color:#6f5f5c;
    top:4px;
    left:-20px;
    cursor:pointer;
}
#skPlayer.skPlayer-red .skPlayer-control .skPlayer-volume .skPlayer-icon{
    background-color:#6A6B6F;
}
#skPlayer .skPlayer-control .skPlayer-volume .skPlayer-icon.skPlayer-quiet:before{
    display:block;
}
#skPlayer .skPlayer-control .skPlayer-volume .skPlayer-icon:before{
    content:'';
    display:none;
    width:2px;
    height:22px;
    transform:rotate(58deg);
    -webkit-transform:rotate(58deg);
    background-color:#6f5f5c;
    position:absolute;
    top:-8px;
    left:5px;
}
#skPlayer.skPlayer-red .skPlayer-control .skPlayer-volume .skPlayer-icon:before{
    background-color:#6A6B6F;
}
#skPlayer .skPlayer-control .skPlayer-volume .skPlayer-icon:after{
    content:'';
    display:block;
    width:5px;
    height:6px;
    border-width:4px 5px;
    border-style:solid;
    border-color:transparent #6f5f5c transparent transparent;
    border-top:4px solid transparent;
    position:absolute;
    top:-4px;
    left:-5px;
}
#skPlayer.skPlayer-red .skPlayer-control .skPlayer-volume .skPlayer-icon:after{
    border-color:transparent #6A6B6F transparent transparent;
}
#skPlayer .skPlayer-control .skPlayer-volume .skPlayer-percent{
    position:absolute;
    width:120px;
    height:14px;
    background-color:#cfbfa2;
    border-radius:6px;
    overflow:hidden;
    cursor:pointer;
    top:0;
    left:0;
}
#skPlayer.skPlayer-red .skPlayer-control .skPlayer-volume .skPlayer-percent{
    background-color:rgba(231, 231, 239, .8);
}
#skPlayer .skPlayer-control .skPlayer-volume .skPlayer-line{
    height:100%;
    width:30%;
    background-color:#e38f71;
    transition:.37s;
}
#skPlayer.skPlayer-red .skPlayer-control .skPlayer-volume .skPlayer-line{
    background-color:#D94240;
}
#skPlayer .skPlayer-control .skPlayer-list-switch{
    display: block;
    width: 16px;
    height: 15px;
    position: absolute;
    right: 15px;
    bottom: 12px;
    cursor: pointer;
}
#skPlayer .skPlayer-control .skPlayer-list-icon{
    display: block;
    width: 16px;
    height: 3px;
    background-color: #6f5f5c;
    position: absolute;
    right: 0;
    bottom: 6px;
}
#skPlayer.skPlayer-red .skPlayer-control .skPlayer-list-icon{
    background-color: #6A6B6F;
}
#skPlayer .skPlayer-control .skPlayer-list-icon::before{
    content: '';
    display: block;
    width: 16px;
    height: 3px;
    background-color: #6f5f5c;
    position: absolute;
    left: 0;
    bottom: 6px;
}
#skPlayer.skPlayer-red .skPlayer-control .skPlayer-list-icon::before{
    background-color: #6A6B6F;
}
#skPlayer .skPlayer-control .skPlayer-list-icon::after{
    content: '';
    display: block;
    width: 16px;
    height: 3px;
    background-color: #6f5f5c;
    position: absolute;
    left: 0;
    bottom: -6px;
}
#skPlayer.skPlayer-red .skPlayer-control .skPlayer-list-icon::after{
    background-color: #6A6B6F;
}
#skPlayer .skPlayer-list{
    display: none;
    width: 100%;
    position: absolute;
    top: 94px;
    margin: 0;
    padding: 6px 0 0 0;
    background-color: #f0e9dc;
    list-style: none;
    max-height: 171px;
    overflow-y: auto;
}
#skPlayer.skPlayer-list-on .skPlayer-list{
    display:block;
}
#skPlayer.skPlayer-red .skPlayer-list{
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    top:100px;
}
#skPlayer .skPlayer-list li{
    position: relative;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    font-size: 12px;
    border-top: 1px solid #e9e9e9;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    overflow: hidden;
}
#skPlayer .skPlayer-list::-webkit-scrollbar{
    width: 16px;
    height: 16px;
    background-color: #f0e9dc;
}
#skPlayer.skPlayer-red .skPlayer-list::-webkit-scrollbar{
    background-color: #fff;
}
#skPlayer .skPlayer-list::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #f0e9dc;
}
#skPlayer.skPlayer-red .skPlayer-list::-webkit-scrollbar-track{
    background-color: #fff;
}
#skPlayer .skPlayer-list::-webkit-scrollbar-thumb{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #a26b61;
}
#skPlayer.skPlayer-red .skPlayer-list::-webkit-scrollbar-thumb{
    background-color: #D94240;
}
#skPlayer .skPlayer-list li:hover{
    background: #E1D9CC;
}
#skPlayer.skPlayer-red .skPlayer-list li:hover{
    background: #DDDDDD;
}
#skPlayer .skPlayer-list li.skPlayer-curMusic{
    background: #D1C9BB;
}
#skPlayer.skPlayer-red .skPlayer-list li.skPlayer-curMusic{
    background: #B0B0B0;
}
#skPlayer .skPlayer-list .skPlayer-list-sign{
    display: none;
    width: 3px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 5px;
    background: #825d5b;
}
#skPlayer.skPlayer-red .skPlayer-list .skPlayer-list-sign{
    background: #D94240;
}
#skPlayer .skPlayer-list li.skPlayer-curMusic .skPlayer-list-sign{
    display: block;
}
#skPlayer .skPlayer-list .skPlayer-list-index{
    color: #6f5f5c;
    margin-right: 12px;
}
#skPlayer.skPlayer-red .skPlayer-list .skPlayer-list-index{
    color: #666;
}
#skPlayer .skPlayer-list .skPlayer-list-name{
    color: #6f5f5c;
}
#skPlayer.skPlayer-red .skPlayer-list .skPlayer-list-name{
    color: #6A6B6F;
}
#skPlayer .skPlayer-list .skPlayer-list-author{
    color: #968983;
    float: right;
    max-width: 107px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#skPlayer.skPlayer-red .skPlayer-list .skPlayer-list-author{
    color: #666;
}